*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.miltonian-tattoo-regular {
  font-family: "Miltonian Tattoo", serif;
  font-weight: 400;
  font-style: normal;
}


h1{
    color: gray;
}
#fotologo 
{
    width: 150px;
    height: 150px;
}
/*UN ID*/
#fotoanimada 
{
    width: 90%;
}
/*UNA CLASE*/
.bordes
{
 border:2px solid blue;/*una propiedad y su valor*/
}

#formularioInscripcion >label{

    color:red;

}

h2 ~ p
{
 color:rgb(43, 116, 43);
 font-weight: bold;
 font-size: 20px;
}

#cajaLogo
{
    width: 100%;
    background-color: #6d4a6c;
}
#textoLogo
{
    text-align: center;
    background-color: #170328;
    color:#F29F05;
    font-size: 50px;
}

.mifondo{
    background-color: rgb(77, 77, 99);
    image-resolution: inherit;
}